* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="button"] {
    width: 75px;
    height: 75px;
    font-size: 50px;
    background-color: black;
    color: ivory;
    border: none;
    border-radius: 15px;


}

#nice {
    background-color: rgb(75, 10, 10);
    width: 75px;
    font-size: 30px;
    border-radius: 15px;
}

.Calculator {
    background-color: rgb(228, 228, 193);
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 2px 2px 2px 2px;
    border: navy groove 20px;
}

footer {
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;


}